/* General */
:root {
  --backgroundColor: rgb(255, 255, 255);
  --textColor: rgb(15, 15, 15);
}

* {
  box-sizing: border-box;
}

body {
  background-color: var(--backgroundColor);
  color: var(--textColor);
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
  font: 14px "Century Gothic", Futura, sans-serif;
}

/* Helper */

.flex {
  display: flex;
}

.wrapper {
  width: 100%;
  height: 100vh;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

/* Title */

.title {
  text-align: center;
  background-color: var(--textColor);
  color: var(--backgroundColor);
  width: 35%;
  padding: 5pt;
  border-radius: 5px;
}

.link {
  position: relative;
  text-decoration: none;
}

.react-link {
  color: #61dbfb;
}

.react-link:before {
  bottom: 0;
  content: "";
  height: 3px;
  right: 0;
  position: absolute;
  background-color: #61dbfb;
  transition: width 0.3s ease 0s;
  width: 0;
}

.react-link:hover:before {
  width: 13%;
}

.react-link:after {
  bottom: 0;
  content: "";
  height: 3px;
  left: 0;
  position: absolute;
  background-color: #61dbfb;
  transition: width 0.2s ease 0s;
  width: 0;
}

.react-link:hover:after {
  width: 80%;
}

/* Square */
.square {
  background: var(--backgroundColor);
  float: left;
  font-size: 3rem;
  font-weight: 700;
  height: 100px;
  padding: 0;
  text-align: center;
  justify-content: center;
  align-items: center;
  width: 100px;
  transition: all 0.1s;
  cursor: pointer;
  user-select: none;
}

.square:nth-of-type(2) {
  border-right: 3px solid var(--textColor);
  border-left: 3px solid var(--textColor);
}

.square.highlight {
  background-color: var(--textColor);
  color: var(--backgroundColor);
}

.square:hover {
  background-color: var(--textColor);
  color: var(--backgroundColor);
}

.square:focus {
  outline: none;
}

/* Board */

.board-row:nth-of-type(2) {
  border-top: 3px solid var(--textColor);
  border-bottom: 3px solid var(--textColor);
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.game-board {
  border-radius: 5px;
  overflow: hidden;
}
/* Game */

.game {
  position: relative;
  width: 50%;
  height: 60vh;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.game-info {
  position: absolute;
  right: 10%;
  top: 20%;
  transform: translateX(50%);
  flex-direction: column;
}

ol,
ul {
  padding-left: 0;
  list-style-type: none;
}

ol button {
  width: 100%;
  font-weight: bold;
  border: 3px solid var(--textColor);
  background-color: var(--backgroundColor);
  border-radius: 3px;
  transition: all 0.1s;
  cursor: pointer;
}

ol button:hover {
  background-color: var(--textColor);
  color: var(--backgroundColor);
}

.status {
  display: inline-block;
  width: 100%;
  text-align: center;
  background-color: var(--textColor);
  color: var(--backgroundColor);
  padding: 5pt;
  border-radius: 3px;
}

/* Footer */

.footer {
  color: var(--backgroundColor);
  background-color: var(--textColor);
  padding: 5pt;
  border-radius: 3px;
}

.github-link {
  color: #61dbfb;
}

.github-link:after {
  bottom: 0;
  content: "";
  height: 3px;
  left: 0;
  position: absolute;
  background-color: #61dbfb;
  transition: width 0.2s ease 0s;
  width: 0;
}

.github-link:hover:after {
  width: 100%;
}
